<!DOCTYPE html>
<html>
  <head>
    <title>Rails7BootstrapFontawesome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# Temparary fix for process not defined popperjs in createPopper.js tag%>
    <script>
      window.process = { env: {} }
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
